In [1]:
import pandas as pd
pd.set_option('display.max_columns', 999)
pd.set_option('display.max_rows', 30)

df_sc_players = pd.read_csv('inputs/2020 SC player list.csv', index_col=0)
df_sc_players = df_sc_players[['sc_id', 'sc_feed_id', 'sc_first_name', 'sc_last_name', 'sc_team_id', 'sc_price', 'sc_team', 'sc_position', 'sc_long_team']]
df_sc_players

,sc_id,sc_feed_id,sc_first_name,sc_last_name,sc_team_id,sc_price,sc_team,sc_position,sc_long_team
0,1,294472,Rory,Atkins,1,410000,ADE,MID,Adelaide
1,2,293193,Luke,Brown,1,369300,ADE,DEF,Adelaide
2,3,1004995,Jordon,Butts,1,123900,ADE,DEF,Adelaide
3,4,993796,Ben,Crocker,1,152000,ADE,FWD,Adelaide
4,5,294307,Brad,Crouch,1,534100,ADE,MID,Adelaide
...,...,...,...,...,...,...,...,...,...
810,812,996554,Jake,Waterman,16,301600,WCE,FWD,West Coast
811,813,298474,Francis,Watson,16,218300,WCE,DEF,West Coast
812,814,1006114,Bailey,Williams,16,123900,WCE,DEF,West Coast
813,815,292128,Elliot,Yeo,16,584400,WCE,MID,West Coast
814,816,291773,Jack,Newnes,3,386400,CAR,MID,Carlton

In [2]:
df_team_names = pd.read_csv('inputs/all_sources_team_names.csv')
df_fanfooty_players = pd.read_csv('inputs/2020_fanfooty_player_ids_historical.csv', index_col=0)
df_fanfooty_players

,fanfooty_player_id,fanfooty_afl_player_id,fanfooty_first_name,fanfooty_surname,fanfooty_team,fanfooty_status,fanfooty_number,fanfooty_birth_date,fanfooty_height,fanfooty_weight,fanfooty_state_of_origin,fanfooty_recruited_from,fanfooty_games,fanfooty_goals,short_team
3,43031,294472.0,Rory,Atkins,Adelaide,senior,21.0,1994-07-12,186.0,85.0,VIC,Calder Cannons,97.0,45.0,ADE
6,1011,980001.0,Nathan,Bassett,Adelaide,NaN,8.0,1976-12-07,190.0,88.0,SA,Norwood,210.0,25.0,ADE
7,44021,295026.0,James,Battersby,Adelaide,NaN,43.0,1995-11-07,177.0,78.0,SA,Sturt,NaN,NaN,ADE
8,46114,280974.0,Jonathon,Beech,Adelaide,NaN,1.0,1990-11-09,187.0,85.0,SA,West Adelaide,3.0,1.0,ADE
9,623,990006.0,James,Begley,Adelaide,NaN,28.0,1980-07-22,0.0,0.0,NaN,NaN,61.0,10.0,ADE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5041,47084,993894.0,Lachlan,Tiziani,GWS,NaN,33.0,1997-03-13,189.0,79.0,NSW,Broken Hill,0.0,0.0,GWS
5042,42215,291928.0,Gerald,Ugle,GWS,NaN,32.0,1993-01-31,180.0,80.0,WA,Beverley,3.0,1.0,GWS
5043,39670,280109.0,Callan,Ward,GWS,senior,8.0,1990-04-10,187.0,84.0,VIC,Western Jets,216.0,107.0,GWS
5044,43001,294305.0,Lachie,Whitfield,GWS,senior,6.0,1994-07-18,187.0,81.0,VIC,Dandenong Stingrays,129.0,59.0,GWS
5045,43139,294685.0,Zac,Williams,GWS,senior,29.0,1994-09-20,185.0,84.0,NSW,Narrandera,97.0,23.0,GWS

In [4]:
df_sc_fanfooty_combined = pd.merge(df_sc_players, df_fanfooty_players, how='left', left_on='sc_feed_id', right_on='fanfooty_afl_player_id')
# df_sc_fanfooty_combined.loc[df_sc_fanfooty_combined['fanfooty_player_id'].isna()]
df_sc_fanfooty_combined.to_csv('inputs/sc_fanfooty_combined.csv')
df_sc_fanfooty_combined

,sc_id,sc_feed_id,sc_first_name,sc_last_name,sc_team_id,sc_price,sc_team,sc_position,sc_long_team,fanfooty_player_id,fanfooty_afl_player_id,fanfooty_first_name,fanfooty_surname,fanfooty_team,fanfooty_status,fanfooty_number,fanfooty_birth_date,fanfooty_height,fanfooty_weight,fanfooty_state_of_origin,fanfooty_recruited_from,fanfooty_games,fanfooty_goals,short_team
0,1,294472,Rory,Atkins,1,410000,ADE,MID,Adelaide,43031,294472.0,Rory,Atkins,Adelaide,senior,21.0,1994-07-12,186.0,85.0,VIC,Calder Cannons,97.0,45.0,ADE
1,2,293193,Luke,Brown,1,369300,ADE,DEF,Adelaide,42301,293193.0,Luke,Brown,Adelaide,senior,16.0,1992-09-22,181.0,81.0,SA,Norwood,150.0,13.0,ADE
2,3,1004995,Jordon,Butts,1,123900,ADE,DEF,Adelaide,49119,1004995.0,Jordon,Butts,Adelaide,rookie,41.0,1999-12-31,198.0,83.0,VIC,Murray Bushrangers,NaN,NaN,ADE
3,4,993796,Ben,Crocker,1,152000,ADE,FWD,Adelaide,46036,993796.0,Ben,Crocker,Adelaide,rookie,20.0,1997-02-19,188.0,84.0,VIC,Oakleigh Chargers,26.0,21.0,ADE
4,5,294307,Brad,Crouch,1,534100,ADE,MID,Adelaide,42260,294307.0,Brad,Crouch,Adelaide,senior,2.0,1994-01-14,186.0,85.0,VIC,North Ballarat Rebels,83.0,32.0,ADE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
810,812,996554,Jake,Waterman,16,301600,WCE,FWD,West Coast,47055,996554.0,Jake,Waterman,West Coast,senior,2.0,1998-05-06,191.0,92.0,WA,Perth,27.0,26.0,WCE
811,813,298474,Francis,Watson,16,218300,WCE,DEF,West Coast,47140,298474.0,Francis,Watson,West Coast,rookie,26.0,1995-09-29,187.0,81.0,WA,Claremont,2.0,0.0,WCE
812,814,1006114,Bailey,Williams,16,123900,WCE,DEF,West Coast,49011,1006114.0,Bailey J.,Williams,West Coast,senior,32.0,2000-04-17,199.0,95.0,VIC,Dandenong Stingrays,NaN,NaN,WCE
813,815,292128,Elliot,Yeo,16,584400,WCE,MID,West Coast,42317,292128.0,Elliot,Yeo,West Coast,senior,6.0,1993-10-01,190.0,89.0,WA,East Fremantle,153.0,70.0,WCE
814,816,291773,Jack,Newnes,3,386400,CAR,MID,Carlton,42337,291773.0,Jack,Newnes,Carlton,senior,32.0,1993-02-24,186.0,82.0,VIC,Northern Knights,155.0,55.0,CAR